body {
    font-family: sans-serif;
}

section {
    padding: 50px 0;
}

section:nth-child(odd) {
    background: #eee;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.container:before, .container:after{
    content: ' ';
    display: table;
}

.d-flex {
    display: flex;
    align-items: center;
}

pre {
    background: white;
    border: 1px solid #ddd;
    padding: 5px 15px;
    overflow: auto;
}

section.hero {
    padding: 100px 0;
    background: #e42352;
    color: #fcfcfc;
}

.hero header {
    color: white;
}

.hero img {
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

.hero h1 {
    margin: 0;
    font-size: 100px;
}

.hero subtitle {
    font-size: x-large;
    font-weight: bold;
}

.hero ul {
    list-style: none;
}

.hero li:before {
    content: '\2713';
    margin-left: -20px;
    margin-right: 10px;
}

.hero li {
    padding: 3px 0;
}
