* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

section {
    padding: 50px 0;
}

section:nth-child(odd) {
    background: #f0f0f0;
}

section:nth-child(odd) code {
    background: #ddd;
}

table {
    width: 100%;
    border: 1px solid #ccc;
}

th, td {
    text-align: left;
    padding: 15px;
}

th, tr:not(:last-of-type) td {
    border-bottom: 1px solid #ccc;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.container:before, .container:after{
    content: ' ';
    display: table;
}

.d-flex {
    display: flex;
    align-items: center;
}

pre {
    background: white;
    border: 1px solid #ccc;
    padding: 50px;
    overflow: auto;
    width: 800px;
    margin-left: -100px;
}

code {
    background: #eee;
    color: #bb2c4f;
    padding: 0 5px;
}

pre code {
    background: initial !important;
    color: initial;
    padding: initial;
}

.text-right {
    text-align: right;
}

section.hero {
    padding: 100px 0;
    background: #e42352;
    color: white;
}

.hero header {
    color: white;
}

.hero img {
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

.hero h1 {
    margin: 0;
    font-size: 100px;
}

.hero ul {
    list-style: none;
}

.hero li:before {
    content: '\2713';
    color: #afffaf;
    margin-left: -20px;
    margin-right: 10px;
}

.hero li {
    padding: 3px 0;
}

.hero .star {
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 800px) {
    .container {
	width: 100%;
	padding: 0 15px;
    }

    pre {
	width: 100%;
	margin-left: 0;
    }
}

